<html>
<head>
    <script src="https://unpkg.com/htmx.org@2.0.8"></script>
</head>
<body>
<p hx-get="/part2"
   hx-target="#target"
   hx-swap="innerHTML">get part2
</p>
<div id="target">
    insert stuff here
</div>
</body>
</html>