<!DOCTYPE html>
<head>
    <title>HTMX demo</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    <script src="./htmx.js"></script>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>
<body>
    <h1>HTMX demo</h1>
<a href="/todo-app">
    Todo app
</a>
</body>
</html>
