<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <title>HTMX demo - Todo</title>
    <script src="./htmx.js"></script>
    <!--    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">-->
    <!--    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-vader.css" type="text/css">-->
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-dark.css" type="text/css">
    <!--    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-earthly.css" type="text/css">-->
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css" />-->

    <!--    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">-->
    <!--    <link rel="stylesheet" href="https://vasanthv.github.io/stylize.css/stylize.css" type="text/css">-->
    <!--    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css'>-->
    <!--    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.css'>-->
    <link rel="stylesheet" href="./style.css">
</head>
<body>

<main>
    <h1>TODO</h1>
    <%- include('todo-item-create.ejs') %>
    <hr>
    <div hx-get="/todos"  hx-trigger="load">
    </div>
</main>
</body>
</html>
