#app {
    display: grid;
    place-items: center;
    padding: 2rem;
}

.todo-list {
    list-style: none;
    padding: 0;
    width: 80%;
    max-width: 600px;
}

.todo-list button {
    min-width: 5em;
    padding: 0.5rem;
}

.todo-list li {
    display: grid;
    width: 100%;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    padding: 0.75rem 0;
    border-bottom: 1px solid #e0e0e0;
}

.todo-list li:last-child {
    border-bottom: none;
}

.todo-list li .task-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.todo-list li .task-content input[type=text] {
    width: 100%;
    padding: 0.25rem;
}

.todo-list li .todo-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    align-items: center;
}